@import url("https://fonts.googleapis.com/css2?family=Lora&family=Mochiy+Pop+One&family=Poppins:wght@300;400;500;600;700;800&family=Press+Start+2P&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #b4b4b4;
}

.app {
  margin-bottom: 5px;
  position: fixed;
  width: 500px;
  height: 100%;
  max-width: 600px;
  background: url("bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.2);
}

.app > .screen {
  display: none;
}

.app > .screen.active {
  display: block;
  width: 100%;
  height: 100%;
}

.screen .form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400ox;
}

.screen .form-input {
  width: 100%;
  margin: 20px 0px;
}

.screen h2 {
  display: inline-block;
  font-family: "Poppins", serif;
  color: #111111;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 60px;
  border-bottom: 4px solid #d6d6d6;
  padding: 10px;
  background: rgba(214, 214, 214, 0.65);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 10px 10px 0px 0px;
}

.screen .form-input label {
  display: block;
  margin-bottom: 5px;
  margin-left: 5px;
}

.screen .form-input input {
  font-family: "Poppins";
  font-weight: 400;
  border: 2px solid #464646;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

.form-input input:focus {
  outline: none;
  border: 2px solid #464646;
}

.screen .form-input button {
  padding: 10px 20px;
  background: #23738f;
  color: #eeeeee;
  font-size: 16px;
  cursor: pointer;
  outline: inline;
  box-shadow: 0px 0px 20px 10px rgba(1, 1, 1, 0.1);
  border: 1px solid #1c596f;
  border-radius: 10px;
  transition: transform 0.2s;
}

.form-input button:hover {
  transform: scale(1.1);
  border: 1px solid #1c596f;
}

.chat-screen .header {
  background: url("bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.chat-screen .header .logo {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #eeeeee;
  font-weight: 800;
}

.chat-screen .header button {
  padding: 5px 10px;
  border: 1px solid #eeeeee;
  background: transparent;
  color: #eeeeee;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
}

.chat-screen .messages {
  width: 100%;
  height: calc(100% - 100px);
  background: radial-gradient(
        35.36% 35.36% at 100% 25%,
        #0000 66%,
        #d6d6d6 68% 70%,
        #0000 72%
      )
      26px 26px / calc(2 * 26px) calc(2 * 26px),
    radial-gradient(
        35.36% 35.36% at 0 75%,
        #0000 66%,
        #d6d6d6 68% 70%,
        #0000 72%
      )
      26px 26px / calc(2 * 26px) calc(2 * 26px),
    radial-gradient(
        35.36% 35.36% at 100% 25%,
        #0000 66%,
        #d6d6d6 68% 70%,
        #0000 72%
      )
      0 0 / calc(2 * 26px) calc(2 * 26px),
    radial-gradient(
        35.36% 35.36% at 0 75%,
        #0000 66%,
        #d6d6d6 68% 70%,
        #0000 72%
      )
      0 0 / calc(2 * 26px) calc(2 * 26px),
    repeating-conic-gradient(#f4f4f4 0 25%, #0000 0 50%) 0 0 / calc(2 * 26px)
      calc(2 * 26px),
    radial-gradient(#0000 66%, #d6d6d6 68% 70%, #0000 72%) 0 calc(26px / 2) /
      26px 26px #f4f4f4;

  overflow: auto;
  padding-bottom: 20px;
}

.chat-screen .messages .message {
  display: flex;
  padding: 10px;
}

.chat-screen .messages .message > div {
  max-width: 80%;
  background: #ffffff;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
  padding: 15px;
  border-radius: 15px 15px 0px 15px;
}

.chat-screen .messages .message.my-message {
  justify-content: flex-end;
}

.chat-screen .messages .message.other-message {
  justify-content: flex-start;
}

.chat-screen .messages .message .name {
  font-size: 14px;
  color: #484848;
  margin-bottom: 5px;
  font-family: "Poppins";
  font-weight: 800;
}

.chat-screen .messages .message .text {
  word-wrap: break-word;
}

.chat-screen .messages .update {
  text-align: center;
  padding: 10px;
  font: "Roboto" italic;
}

.chat-screen .typebox {
  width: 100%;
  height: 50px;
  display: flex;
  padding-right: 10px;
  background: radial-gradient(
        35.36% 35.36% at 100% 25%,
        #0000 66%,
        #d6d6d6 68% 70%,
        #0000 72%
      )
      26px 26px / calc(2 * 26px) calc(2 * 26px),
    radial-gradient(
        35.36% 35.36% at 0 75%,
        #0000 66%,
        #d6d6d6 68% 70%,
        #0000 72%
      )
      26px 26px / calc(2 * 26px) calc(2 * 26px),
    radial-gradient(
        35.36% 35.36% at 100% 25%,
        #0000 66%,
        #d6d6d6 68% 70%,
        #0000 72%
      )
      0 0 / calc(2 * 26px) calc(2 * 26px),
    radial-gradient(
        35.36% 35.36% at 0 75%,
        #0000 66%,
        #d6d6d6 68% 70%,
        #0000 72%
      )
      0 0 / calc(2 * 26px) calc(2 * 26px),
    repeating-conic-gradient(#f4f4f4 0 25%, #0000 0 50%) 0 0 / calc(2 * 26px)
      calc(2 * 26px),
    radial-gradient(#0000 66%, #d6d6d6 68% 70%, #0000 72%) 0 calc(26px / 2) /
      26px 26px #f4f4f4;
}

.chat-screen .typebox input {
  flex: 1;
  height: 50px;
  font-size: 18px;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: -10px;
  border-radius: 10px;
  border: 2px solid #3b3b3b;
}

.typebox input:focus {
  outline: none;
  border: 2px solid #3b3b3b;
}

input[type="text"]::placeholder {
  color: #999999;
  font-style: italic;
}

.chat-screen .typebox button {
  width: 80px;
  height: 100%;
  background: #2a2a2a;
  color: #eeeeee;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-top: -10px;
}

.menu {
  position: relative;
}

#menu-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 1px solid #eeeeee;
  font-size: 17px;
  color: #eeeeee;
}

#menu-btn:focus {
  outline: none;
}

.menu-content {
  display: none;
  position: absolute;
  margin-top: 10px;
  top: 100%;
  z-index: 1;
  border: 1px solid #a1a1a1;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 100px;
}

.menu-content.show {
  display: block;
}

.users {
  padding: 8px 12px;
  font-size: 1rem;
  color: #333333;
}

.user-list {
  position: relative;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1rem;
  color: #333333;
  border-bottom: 2px solid #333333;
  justify-content: center;
  display: flex;
  overflow: auto;
}

@media screen and (max-width: 500px) {
  .app {
    position: relative;
  }
  .chat-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .typebox {
    position: relative;
    justify-content: space-evenly;
  }

  .typebox input {
    width: 70%;
  }

  .typebox button {
    position: relative;
    margin-right: 2px;
    margin-left: auto;
  }
}
